<h1>Bienvenido de nuevo {{username}}</h1>

<div class="container">
    <div class="row">

        {{#each favpilot}}
        <div class="col-4">
            <h2>{{givenName}} {{familyName}}</h2>
            <p>Pilot Number {{permanentNumber}}</p>
            <img src="{{photo}}" alt="foto del piloto">
        </div>
        {{/each}}


    </div>
</div>

<div class="container" {{#each favcircuit}} {{/each}}