<h2>{{name}}</h2>
<p>Nationality: {{nationality}}</p>
<img src="{{photo}}" alt="foto del circuito">
<a href="{{url}}">Check more info here:</a> 
<a href="/profile/favconstructor/{{id}}">Add constructor to favorites</a>