<div class="teams">
    <div class="container">


        <div class="row spacediv">

            <div class="card">
                <h2 class="card-header">{{name}}</h2>
                <div class="card-body">

                    <section class="teamdetail">

                        <h2>Nationality: {{nationality}}</h2>
                        <img src="{{photo}}" alt="foto del circuito">

             
                    </section>
                        <a href="{{url}}">Check more info here:</a>
                        <br>
                        <a href="/profile/favconstructor/{{id}}">Add constructor to favorites</a>
                </div>

            </div>
        </div>


    </div>
</div>