<div class="teams spacediv">

    <div class="container">
        <div class="row justify-content-around">


            {{#each allConstructors}}

            <div class="col-6 space">

                <div class="card">

                    <h2 class="card-header">{{name}}</h2>


                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img class="card-img-top" src="{{photo}}" alt="imagen del constructor">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">

                        <h4 class="card-text">País: {{nationality}}</h4>

                        <div class="card-footer text-muted text-center mt-4">
                            <a href="/constructors/{{_id}}">More details</a>
                        </div>
                        
                    </div>

                </div>
            </div>

            {{/each}}

        </div>

    </div>

</div>

{{!-- <div class="container">

    <div class="row">



        {{#each allConstructors}}

        <div class="col-6 div-margin">

            <h2>{{name}}</h2>
            <img src="{{photo}}" alt="imagen del constructor">
            <a href="/constructors/{{_id}}">Click here to see more details</a>

        </div>
        {{/each}}


    </div>
</div> --}}