<div class="circuitsdetails spacediv">


    <div class="container">
        <div class="row  ">
            <div class="card opacicard ">

                <h2 class="card-header">{{circuitName}}</h2>

                <div class="card-body text">

                    <h4>Localización: {{locality}}</h4>
                    <h4>País: {{country}}</h4>
                    <h4>Coordenadas: {{lat}} , {{long}}</h4>
                   
            
                    <figure class="imgfav">

                        <a href="/profile/favcircuit/{{id}}"><img class="imgfav"src="/images/heartfav.png"></a>
                    </figure>

                </div>
                <div class="col teamdetail">
                    <img src="{{photo}}" alt="foto del circuito">

                </div>


            </div>
        </div>

    </div>

</div>


