<div class="circuits">

    <div class="container">
        <div class="row justify-content-between">

            {{#each allCircuits}}

            <div class="col-4 space">

                <div class="card border-light">
                    <h4 class="card-header">{{circuitName}}</h4>


                    <div class="card-body">
                        <img class="card-img-top" src="{{photo}}" alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>



                    <h4 class="card-title">Localidad: {{locality}}</h4>
                    <h4 class="card-title">País: {{country}}</h4>

                    <div class="card-footer text-muted text-center mt-4">
                        <a href="/circuits/{{_id}}">More details</a>
                    </div>

                </div>

            </div>
       {{/each}}

        </div>

 
    </div>
</div>

{{!-- 
            <div class="col-6">
                <h1>{{circuitName}}</h1> <br>
                <img src="{{photo}}" alt="foto del circuito"> <br>
                <a href="/circuits/{{_id}}">Click here to see more details</a>
            </div> --}}