<div class="circuits spacediv">

    <div class="container">
        <div class="row justify-content-between">

            {{#each allCircuits}}

            <div class="col-4 space">

                <div class="card opacicard border-light text-center">
                    <h4 class="card-header">{{circuitName}}</h4>


                    <div class="card-body text-center">
                        <img class="card-img-top" src="{{photo}}" alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>



                    <h4 class="card-title">Localización: {{locality}}</h4>
                    <h4 class="card-title">País: {{country}}</h4>

                    <div class="card-footer text-muted text-center mt-4">
                        <a href="/circuits/{{_id}}">Más detalles</a>
                    </div>

                </div>

            </div>
       {{/each}}

        </div>

 
    </div>
</div>

