<h2>{{circuitName}}</h2>
<p>Locality: {{locality}}</p>
<p>Country: {{country}}</p>
<p>Location: {{lat}} , {{long}}</p>
<a href="{{url}}">Check more info here:</a>
<img src="{{photo}}" alt="foto del circuito">