<div class="container">
    <div class="row">
        <div class="col justify-content-center text-center align">
            <h1>{{givenName}} {{familyName}}</h1>
            <p>Date of Birth:{{dateOfBirth}}</p>
            <p>Nationality: {{nationality}}</p>
            <p>Car code: {{code}}</p>
            <a href="{{url}}">Check more info here</a>
        </div>
        <div class="col">
            <img src="{{photo}}" alt="foto del piloto">
        </div>



    </div>

    <form id="form1">
        {{!-- <select>
        <option value="">current</option>
        <option value="">2019</option>
        <option value="">2018</option>
        <option value="">2017</option>
        
    </select> --}}
        <label>Introduce the year</label>
        <input id="input1" type="text">

        {{!-- <select>
        <option value="">hamilton</option>
        <option value="">alonso</option>
        <option value=""></option>
        <option value=""></option>
    </select> --}}
        <label>Introduce the pilot</label>
        <input id="input2" type="text">

        <button>Enviar</button>

    </form>

    <h2 id="result"></h2>
    


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/javascripts/main.js"></script>