<div class="pilots spacediv">

    <div class="container">
        <div class="row justify-content-between">

            {{#each allPilots}}

            <div class="col-4 div-margin">

                <!-- Card Wider -->
                <div class="card opacicard text-center pb-0">

                    <!-- Card image -->
                    <picture class="pilotscard">
                        <img src="{{photo}}" alt="imagen piloto">
                    </picture> 

                    <!-- Card content -->
                    <div class="card-body text-center pb-0">

                        <!-- Title -->
                        <h2 class="card-title"><strong>{{givenName}} {{familyName}}</strong></h2>
                        <!-- Subtitle -->
                        <h5 class="blue-text pb-2">Nacionalidad:  "{{nationality}}"</h5>
                        <h5 class="blue-text pb-2">Fecha nacimiento:  {{dateOfBirth}}</h5>


                        <!-- Card footer -->
                        <div class="card-footer text-muted text-center mt-4">
                            <a href="/pilots/{{_id}}" class="button">Más detalles</a> <br>
                            <a href="/pilots/new">Crear piloto</a> <br>
                            <a href="/pilots/delete/{{id}}">Eliminar piloto</a> <br>
                            <a href="/pilots/edit/{{id}}">Editar piloto</a>

                        </div>

                    </div>

                </div>
                <!-- Card Wider -->



            </div>

            {{/each}}

        </div>
    </div>
</div>



{{!-- <h2>{{givenName}} {{familyName}}</h2> <br>
                <img src="{{photo}}" alt="foto del piloto"> <br>
                <a href="/pilots/{{_id}}">More details</a> --}}