
<h2>{{givenName}} {{familyName}}</h2>
<p>Date of Birth:{{dateOfBirth}}</p>
<p>Nationality: {{nationality}}</p>
<p>Car code: {{code}}</p>
<a href="{{url}}">Check more info here:</a>
<img src="{{photo}}" alt="foto del piloto">



<form id="form1">

    <input id="input1" type="text">

    <input  id="input2" type="text">

    <button>Enviar</button>

</form>

<ul id="result"></ul>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="/javascripts/main.js"></script>