
<h2>{{givenName}} {{familyName}}</h2>
<p>Date of Birth:{{dateOfBirth}}</p>
<p>Nationality: {{nationality}}</p>
<p>Car code: {{code}}</p>
<a href="{{url}}">Check more info here:</a>
<img src="{{photo}}" alt="foto del piloto">